.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color:crimson;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
}

button {
    background-color: #cb364c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    width: 200px;
    height: 70px;
    border-radius: 5px;
  }